@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");

* {
  box-sizing: border-box;
  margin: 0px;
  font-family: "Berkshire Swash", cursive;
}

.inicio {
  background-color: #c9e265;
}

body {
  padding: 25px;
  background-color: #a3feff;
}

#carouselExampleIndicators {
  padding-left: 15%;
  padding-right: 15%;
  
}

#menu-primary {
  background-color: #ff66c4;
  border-radius: 20px;
  margin: 20px;
  display: flex;

  flex-wrap: wrap;
}

.nuestros_productos {
  text-align: center;
}

#container-globos {
  overflow: hidden;
  border-bottom: 30px #ff66c4 solid;
}

.d-block {
  margin: 0, 50px, 0, 50px;
  padding:  0, 50px, 0, 50px;

}

#globos {
  margin-top: 30px;
  background-image: url(img/globos.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 300px;
  width: 800px;
}

#container-globos:hover #globos {
  margin-left: 100%;
  transition: all 2s;

}

/* GRID */

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blueviolet;
  border-radius: 10px;
  transition: transform 0.4s ease-in-out;
  border: solid 1px
}

.grid-item:hover {
  filter: opacity(0.9);
  /* transform: scale(1.01); */
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  display: inline-block;
}

a {
  font-size: 20px;
  color: black;
  display: block;
  padding: 20px 20px;
  text-decoration: none;
}
.menu li a:hover {
  background-color: #ff66c4;
  border-radius: 20px;
}

.formulario {
  padding-top: 10px;
  padding-left: 5px;
  background-color: #c9e265;
  border-radius: 20px;
}

.sobre_nosotros {
  background-color: #c9e265;
}

.sociales h2 {
  margin-top: auto;
  text-align: center;
}
.redes {
  height: 50px;
  text-align: center;
}

.mapa {
  padding-bottom: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  body {
    background-color: #c9e265;
  }
  #menu-primary {
    background-color: #a3feff;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  body {
    background-color: #ff66c4;
  }
  #menu-primary {
    background-color: yellow;
  }
}

@media screen and (max-width: 479px) {
  body {
    background-color: yellow;
  }
  #menu-primary {
    background-color: #c9e265;
  }

  .mapa {
    height: 400px;
    width: 285px;
    margin-left: 6px;
    margin-right: 5px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }

  .grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blueviolet;
    border-radius: 10px;
    transition: transform 0.4s ease-in-out;
    border: solid 1px
  }

  .grid-item:hover {
    filter: opacity(0.9);
  }

  #img {
    height: 100px;
    width: 100px;
  }

  #menu-primary {
    margin: 0;
    margin-bottom: 10px;
    display: flex;
    top: 80%;
    bottom: 0;
    width: 100%;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
  }

  a {
    padding: 0;
  }

}
